" ideavimrc configuratioDTree with  ntelliJ IDEA
" lazyvim compatible
let mapleader = "\<Space>"
set clipboard=unnamedplus " Use system clipboard
" Plugins
" Commentary plugin adds mapping for quickly commenting stuff out
set commentary
set ideajoin
set which-key
set surround
set easymotion
let g:highlightedyank_highlight_duration = "300"
set highlightedyank
" FunctionTextObj: Adds text objects for manipulating functions/methods
set functiontextobj
"which-key settings
let g:WhichKey_DefaultDelay = 600
let g:WhichKey_FontFamily = "JetBrainsMono Nerd Font"
let g:WhichKey_Divider = "  "
let g:WhichKey_ShowVimActions = "true"
set notimeout
" Key mappings
nmap <leader>gg <Action>(ActivateCommitToolWindow)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fr <Action>(RecentChangedFiles)
nmap <leader>ww <Action>(NextSplitter)
nmap <leader>wo <Action>(UnsplitAll)
nmap <leader>wx <Action>(OpenEditorInOppositeTabGroup)
nmap <leader>wd <Action>(CloseContent)
nmap <leader>ws <Action>(SplitHorizontally)
nmap <leader>wv <Action>(SplitVertically)
nmap <leader>, <Action>(RecentLocations)
nmap <leader>fn <Action>(NewFile)

" Code navigation
nmap <leader>cs <Action>(FileStructurePopup)
nmap gK <Action>(QuickJavaDoc)
nmap gk <Action>(QuickTypeDefinition)
nmap gD <Action>(GotoDeclarationOnly)
nmap gr <Action>(ShowUsages)
nmap gI <Action>(GotoImplementation)
nmap <leader>ct <Action>(QuickPreview)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap [[ <Action>(GotoPrevElementUnderCaretUsage)
nmap ]] <Action>(GotoNextElementUnderCaretUsage)
" nmap ]r <Action>(GoToCodeGroup)
nmap ]M <Action>(MethodDown)
nmap [M <Action>(MethodUp)

" Codesymotion-linemarks) editing
nmap <leader>cf <Action>(ReformatCode)
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>cb <Action>(ChooseRunConfiguration)
nmap <leader>cz <Action>(Rerun)
nmap <A-j> :action MoveLineDown<CR>
nmap <A-k> :action MoveLineUp<CR>
vmap <A-j> :action MoveLineDown<CR>
vmap <A-k> :action MoveLineUp<CR>
nmap " <Action>(PasteMultiple)
" Code refactoring
map <leader>r <Action>(RefactoringMenu)
map <leader>cR <Action>(RenameFile)
" IDE
nmap <leader>n <Action>(ActivateNotificationsToolWindow)
nmap <leader>un <Action>(ClearAllNotifications)
nmap <leader>qr <Action>(RestartIde)
